mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

#logo {
  height: 5rem;
}

.left_span {
  font-family: kelson;
  font-size: 2rem;
  font-weight: 100;
}

.center_span {
  margin: 0 auto;
}

.center_span button {
  right: 4.5rem;
}

button.mat-icon-button {
  margin-right: 1rem;
}

mat-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  z-index: 1;
}
