<main>
  <mat-card class="subcard">
      <!-- <button mat-icon-button color="warn">
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button> -->

      <img mat-card-image src="{{ products[0].imgURL }}" alt="">

      <mat-card-header>
        <mat-card-title>{{ products[0].title }}</mat-card-title>
        <mat-card-subtitle>{{ products[0].price }}</mat-card-subtitle>
      </mat-card-header>
        <mat-card-footer>
          <button class="gotoBtn" mat-raised-button color="primary">Go To</button>
        </mat-card-footer>
  </mat-card>
</main>
