main {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 4rem);
}

.sidenav {
  background-color: white;
  min-width: 15%;
  max-width: 20%;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 2rem 1rem;
}

.maincontainer {
  background-color: rgb(250, 250, 250);
  flex: 1 auto;
  padding: 2rem 0rem 0rem 10rem;
}

